<ion-view view-title="EasyCardapium" hide-back-button="true">
  <ion-content>
    <div class="list">
      <div class="item item-text-wrap">
        <div class="row text-center">
          <div class="col col-50"><img ng-src="https://maps.gstatic.com/mapfiles/place_api/icons/restaurant-71.png" /></div>
          <div class="col col-50"><img ng-src="https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png" /></div>
        </div>
        <!--h2>Find nearby locations by pressing the button below.</h2-->
      </div>
      
    <div class="item item-text-wrap">
        <button class="button icon-left ion-search  button-full button-assertive  large" ng-click="vm.useGeolocation()">
        Nearby locations
        </button>
    </div>
    <div class="item item-text-wrap">
        <div class="row text-center">
          <div class="col col-50"><img ng-src="https://maps.gstatic.com/mapfiles/place_api/icons/bar-71.png" /></div>
          <div class="col col-50"><img ng-src="https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png" /></div>
        </div>
        <!--h2>Find nearby locations by pressing the button below.</h2>
        <a href="#" class="subdued">Find nearby locations by pressing the button below.</a-->
    </div>
  </div>
    
  </ion-content>
</ion-view>